.switchLayout-outer-div{
    z-index: 11; /* above phone element */
    width: 12rem;
}

.switchLayout-button{
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 12;
}

.switchLayout-button:hover{
    background-color: #555;
}