.AnimatedRoutes-outer-div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.AnimatedPage-outer-div{
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
}

.AnimatedPage-Parallax{
    width: 100%;
    min-height: 50vh;
}